:host {
  display: block;
  height: 100%;
}

/* Optimisation des animations de transition globale */
article {
  will-change: transform, box-shadow;
  backface-visibility: hidden;
}

/* Amélioration de la fluidité des images */
img {
  will-change: transform;
  transform: translateZ(0);
}

/* Effet Smooth Bézier personnalisé appliqué à l'ensemble du bloc */
* {
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
}